<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<form action="/login" method="post">
    <font style="float:right">
            <label for="first_name"><font color="red">*</font>User Nmae:</label>
            <input type="text" id="first_name" name="first_name">

            <label for="last_name"><font color="red">*</font>Password:</label>
            <input type="text" id="last_name" name="last_name">

        <input type='submit' name="login" value='login'><input type='submit'  value='New User'></font>
        </form>

</body>
</html>